---
layout: default
---
<h1 class="post-headline">{{page.title}}</h1>
<div class="meta"><span>{{page.date | date: '%B %d, %Y'}}</span></div>
{{content}}

<!-- Comments only for posts -->
{% if page.path contains '_posts' %}
    {% if site.disqus-shortname %}
        {% include disqus.html %}
    {% endif %}
{% endif %}

{{ page.path }}
Think you can say it better? 
<a 
    href="https://github.com/thelibertinesociety/thelibertinesociety.github.io/edit/master/{{ page.path }}"
    target="blank"
    >Edit this page</a>.